body {
    padding: 10px;

    background-image: linear-gradient(to bottom, #dddddd, white);
}

#listing-container {
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
}
/* listing.html */
#lstng-container {
   
  grid-area: 1 / 1 / span 1 / span 3;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

  .lstng-img-container {
    grid-column: 1 / span 1;
    background-color: grey;

    display: flex;
    align-items: center;
  }

  .lstng-dtls-container {
    grid-column: 2 / span 1;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
  }

/* index.html */
.index_imgs {
  height: 100px;
  width: 100px;
}

.card {
  flex-basis: 200px;
  margin: 10px;
  /*background-color: rgba(251, 189, 112, 0.806);*/
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
  #listings {
    grid-column: 2 / span 1;
  }

#comments-container {
  grid-area: 2 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment-textarea {
  max-height: 100px;
}
