body {
    padding: 10px;

    background-image: linear-gradient(to bottom, #fcffb9, white);
}
h1 {

}

h2 {

}

/* listing.html */
.lstng-container {
  height: 50vh;
  display: flex;
  justify-content: space-around;
}

  .lstng-img-container {
    width: 30vw;
    background-color: grey;
  }

  .lstng-img {

  }

  .lstng-dtls-container {
    min-width: 30vw;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
  }

/* index.html */
.index_imgs {
  height: 100px;
  width: 100px;
}

.card {
  flex-basis: 200px;
  margin: 10px;
  /*background-color: rgba(251, 189, 112, 0.806);*/
}
